.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container label {
    margin: 10px 0 5px;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.filter-container input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}